# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.tar

# Kubernetes temp
*.tmp

# Testing
.pytest_cache/

# Drawio autosave
*.autosave.drawio

#train data local
model.joblib
__pycache__/
*.pyc